
.t-gray {
  color: #868ea4 !important;
}

.t-white {
  color: #ffffff !important;
}

.t-black {
  color: #535763 !important;
}

.t-bold-dark {
  color: #37474f !important;
}

.heading-dark {
  color: #101b34 !important;
}

.background-blue {
  background-color: #4680ff !important;
}
