.notice_card {
  width: 43%;
  height: fit-content;
  border-radius: 5px;
  margin-top: 25px;
  box-shadow: 0 2px 10px -1px rgb(69 90 100 / 30%);
  background-color: white;
}

.notice_head {
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.h5_no_m {
  margin-bottom: 0%;
}

.notice_top {
  display: flex;
  padding: 15px;
  align-items: center;
  /* border-bottom: 1px solid lightgray; */
}

.notice_border_line {
  width: 55%;
  border-top: 1px solid lightgray;
}

@media only screen and (max-width: 740px) {
  .notice_card {
    width: 100%;
  }
}
