@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');  

.homecolor {
    background-color: #37C1CE;
    height: 90vh !important;
}

.px-8{
    padding-right: 4rem!important;
    padding-left: 4rem!important;
}


.imgBanner{ 
    object-fit: c;
}

@media (max-width: 575px) {
    .px-8{
        padding-right: 2rem!important;
        padding-left: 2rem!important;
    }
    .main-f{
        text-align: center !important;
    }
    .in-h1 br{
        display: none;
    }
    .center-item{
        padding-left: 3rem !important;
    }
}

@media (max-width: 767px) {
    .main-f{
        text-align: center !important;
    }
    .in-h1 br{
        display: none;
    }
}

/* footerGhani */
section {  
    padding: 60px 0;
}  
section .section-title {  
    text-align: center;  
    color: #007b5e;  
    margin-bottom: 50px;  
    text-transform: uppercase;  
}  
#footer {  
    background: #0D6EFD;  
}  
#footer h5 {  
   padding-left: 10px;  
    border-left: 3px solid #eeeeee;  
    padding-bottom: 6px;  
    margin-bottom: 20px;  
    color:#ffffff;  
}  
#footer a {  
    color: #ffffff;  
    text-decoration: none !important;  
    background-color: transparent;  
}  
#footer ul.social li {  
    padding: 3px 0;  
}  
#footer ul.social li a i {  
    margin-right: 5px;  
    font-size:25px;  
    -webkit-transition: .5s all ease;  
    -moz-transition: .5s all ease;  
    transition: .5s all ease;  
}  
#footer ul.social li:hover a i {  
    font-size:30px;  
    margin-top:-10px;  
}  
#footer ul.social li a  
{  
    color:#ffffff;  
}  
#footer ul.social li a:hover {  
    color:#eeeeee;  
}  
#footer ul.quick-links li a {  
    color:#ffffff;  
}  
#footer ul.quick-links li {  
    padding: 3px 0;  
    -webkit-transition: .5s all ease;  
    -moz-transition: .5s all ease;  
    transition: .5s all ease;  
}  
#footer ul.quick-links li:hover {  
    padding: 3px 0;  
    margin-left:5px;  
    font-weight:700;  
}  
#footer ul.quick-links li a i {  
    margin-right: 5px;  
}  
#footer ul.quick-links li:hover a i {  
    font-weight: 700;  
}  
