
.mb-5 {
    display: flex;
}
.btnsb {
    margin-top: 15px;
}
.drop1{
    padding-bottom: 5px;
    padding-right: 20px; 
}
.drop2{
    padding-bottom: 5px; 
    padding-right: 20px;
}
.drop3{
    padding-bottom: 5px; 
    padding-right: 20px;
}
