.sch-card {
  display: flex;
  justify-content: space-between;
}

.des__card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 23%;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 2px 10px -1px rgb(69 90 100 / 30%);
}

.card__xp {
  padding: 0 10px;
}

.card__name {
  font-size: 0.875rem;
  color: #868e96;
  font-weight: bold;
}

.card__value {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
}

@media only screen and (max-width: 1054px) {
  .sch-card {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 10px;
  }
  .des__card {
    width: 100%;
  }
}

@media only screen and (max-width: 740px) {
  .sch-card {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
  }

}
