
/* .container
{
  width: 1100px;
  max-width: 100%;
  padding: 10px;
  margin: 0 auto;
} */

.price
{
    size: 10ch;
    font-size: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h11
{
  text-align: center;
  padding-top: 3ch;
}
.text1
{
  padding-bottom: 3ch;
  size: 10px;
  text-align: center;
}
.packg
{
    text-align: left;
    padding: 2%;
}
.wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em; 
}
.card {
  flex: 1 0 200px; 
  overflow: hidden;
  box-shadow: 0px 2px 20px var(--clr-gray200);
  border-radius: var(--radius);
  margin: 50px;
  text-align: center;
  flex-direction: column;
  align-self: normal;
  width: 40ch;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}
@media (max-widt:225px) {
  .h11{
    font-size: 10px;
  }
  .price{
    font-size: 5px;
  }
}
/* .form-header {
  margin: 0 0 0px;
}
.form-header {
  padding: 4px 0;
  color: #4285f4;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.form-group {
  outline: none;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 1ch;
  color: #ffffff;
  font-family: inherit;
  font-size: inherit;
  font-weight: 50px;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
} */
