.accordion-item {
    background-color: transparent !important;
}

.badge {
    display:flex !important;
    width: 20%;
    align-items: center !important;
    justify-content: center;
    font-size: medium !important;
    font-weight: lighter !important;
}

.top_pad {
    padding: 0% !important;
    margin-top: 10px !important;
    justify-content: center !important;
}
